:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgb(255, 252, 252);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}

/*Centramos el div.root*/
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  min-width: 320px;
  min-height: 100vh;
}


button {
  border-radius: 8px;
  border: 0;
  padding: 1em;
  cursor: pointer;
}


