.searchBar-container{
    margin: 0;
    padding: 0.2em;
    box-sizing: border-box;

    display: flex;
    justify-content: space-around;
}

.searchBar-input{
    border-radius: 0.5em;
    border: 0em;
    width: 6em;
    text-align: center;
    font-size: 1.2em;
    color: #00AAC2;
    margin: 0em 0.25em;
}


.searchBar-button{
    color: white;
    background-color: #00AAC2;
    width: 7em;
    box-sizing: border-box;
    margin: 0em 0.25em;
}
